<div class="d-flex flex-row flex-wrap">
  <% products.each do |product| %>
    <div class="col-12 col-md-6 col-lg-4 p-4 mb-3 flex-column">
      <div class="bg-white rounded p-4 h-100">
        <div class="d-flex flex-column text-center">
          <h3 class="fw-bold px-2 capitalize-first">
            <%= product.name %>
          </h3>
          <span class="badge bg-primary mx-auto mb-4">
            <%= product.capacity %> <%= product.label %>
          </span>
          <% if local_assigns[:showDetails] %>
            <%= link_to t('products.more_details_btn'), product, class: "btn btn-purple mx-auto" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
