<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingTroll</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "shared/navbar" %>
      <div class="container h-100 pt-5 d-flex flex-column">
        <%= render "shared/messages" %>
        <%= render "capacity/offcanvas_calculator" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
